box2d-py==2.3.8
cloudpickle==2.2.1
colorama==0.4.6
Cython==0.29.35
gym==0.26.2
gym-notices==0.0.8
gym-taco-environments @ git+https://github.com/TacosSistemasComputacionalesULA-A2023/gym_taco_environments@9726d2422f67798f10a6b30a6e6ed79eb8f6636d
numpy==1.23.5
pygame==2.4.0
